@font-face {
  font-family: 'Lato';
  src: url('../Public/fonts/lato/lato-black.eot');
  src: url('../Public/fonts/lato/lato-black.eot?#iefix') format('embedded-opentype'), url('../Public/fonts/lato/lato-black.woff') format('woff'), url('../Public/fonts/lato/lato-black.ttf') format('truetype'), url('../Public/fonts/lato/lato-black.svg#latoblack') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../Public/fonts/lato/lato-bold.eot');
  src: url('../Public/fonts/lato/lato-bold.eot?#iefix') format('embedded-opentype'), url('../Public/fonts/lato/lato-bold.woff') format('woff'), url('../Public/fonts/lato/lato-bold.ttf') format('truetype'), url('../Public/fonts/lato/lato-bold.svg#latobold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../Public/fonts/lato/lato-bolditalic.eot');
  src: url('../Public/fonts/lato/lato-bolditalic.eot?#iefix') format('embedded-opentype'), url('../Public/fonts/lato/lato-bolditalic.woff') format('woff'), url('../Public/fonts/lato/lato-bolditalic.ttf') format('truetype'), url('../Public/fonts/lato/lato-bolditalic.svg#latobold-italic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../Public/fonts/lato/lato-italic.eot');
  src: url('../Public/fonts/lato/lato-italic.eot?#iefix') format('embedded-opentype'), url('../Public/fonts/lato/lato-italic.woff') format('woff'), url('../Public/fonts/lato/lato-italic.ttf') format('truetype'), url('../Public/fonts/lato/lato-italic.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../Public/fonts/lato/lato-light.eot');
  src: url('../Public/fonts/lato/lato-light.eot?#iefix') format('embedded-opentype'), url('../Public/fonts/lato/lato-light.woff') format('woff'), url('../Public/fonts/lato/lato-light.ttf') format('truetype'), url('../Public/fonts/lato/lato-light.svg#latolight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../Public/fonts/lato/lato-regular.eot');
  src: url('../Public/fonts/lato/lato-regular.eot?#iefix') format('embedded-opentype'), url('../Public/fonts/lato/lato-regular.woff') format('woff'), url('../Public/fonts/lato/lato-regular.ttf') format('truetype'), url('../Public/fonts/lato/lato-regular.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Flat-UI-Icons";
  src: url('../Public/fonts/flat-ui-icons-regular.eot');
  src: url('../Public/fonts/flat-ui-icons-regular.eot?#iefix') format('embedded-opentype'), url('../Public/fonts/flat-ui-icons-regular.woff') format('woff'), url('../Public/fonts/flat-ui-icons-regular.ttf') format('truetype'), url('../Public/fonts/flat-ui-icons-regular.svg#flat-ui-icons-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */

body {
  margin: 0px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.72222;
  color: #1ABC9C;
  background-color: #2C3E50;
}
.header{
  margin-bottom: 20px;
}
.prix{
  font-size: 26px;
  color: white;
  margin-right: 20px;
}
.btn{
  width: 100px;
  height: 30px;
  display: inline-block;
  border: 1px solid white;
  line-height: 30px;
  padding: 10px;
}
.btn:hover{
  background-color: #141d26;
  cursor: pointer;
  color: white;
}
table{
display: inline-block;
border: 1px solid white;
border-collapse: collapse;
margin-top: 30px;
margin-left: 28px;
}
td{
  border: 1px solid white;
  padding: 10px;
}
th{
  font-size: 20px;
}
.composant{
  color: white;
}
#container{
  width: 750px;
  height: 800px;
  margin: 0 auto;
}
.errror{
  color: red;
}
#important{
  width: 100%;
  height: 30px;
  background: #e67e22;
  text-align: center;
  color: white;
  font-style: italic;
  line-height: 30px;
}
#container_contact{
    width: 750px;
  min-height: 400px;
  height: auto;
  margin: 0 auto;
  background: #213647;
    padding : 10px;
  padding-top: 2px;
  border-radius: 10px;
  margin-bottom: 20px;
}
textarea{
  border-radius: 10px;
}
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    -ms-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    -ms-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    -ms-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}
#container_contact img{
  display: block;
  float: left;
  margin: 10px;
}
small{
  color: white;
  font-style: italic;
  font-size: 18px;
}
li{
  list-style: none;
  color: white;
  display: inline-block;
  width: 128px;
  letter-spacing: 2px;
  padding: 20px;
  font-size: 20px;
}
li:hover{
  text-decoration: underline;
}
.li1{
   border-right: 1px solid white;
}
ul{
  display: block;
  padding: 0px;
  text-align: center;
  margin-top: 20px;
}

a {
  color: #16a085;
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
a:hover,
a:focus {
  color: #1abc9c;
  text-decoration: none;
}
a:focus {
  outline: none;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.72222;
  background-color: #ffffff;
  border: 2px solid #bdc3c7;
  border-radius: 6px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-comment {
  font-size: 15px;
  line-height: 1.2;
  font-style: italic;
  margin: 24px 0;
}
.container_projet{
  background: #213647;
  color: white;
  padding : 10px;
  padding-top: 2px;
  border-radius: 10px;
  margin-bottom: 20px;
}
hr{
  margin-bottom: 25px;
}
.container_projet .mini_titre{
  color: #1ABC9C;
}
.container_projet img{
  display: block;
margin: 0 auto;
}
.container_projet .lien_site{
  display: block;
  width: 180px;
  margin: 0 auto;
  font-size: 20px;
}
.container_projet a:hover{
  color: white;
  text-decoration: underline;
  }
.container_projet h3{
  color: #3e5365;
}
input[type="submit"] {
  width: 180px;
  color: #ffffff;
  background-color: #1abc9c;
border-radius: 6px;
border: none;
font-size: 15px;
font-weight: normal;
line-height: 1.4;
padding: 10px 15px;
margin-left: 0px;
-webkit-font-smoothing: subpixel-antialiased;
-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
transition: border .25s linear, color .25s linear, background-color .25s linear;
margin-bottom: 20px;
}
.pc{
  width: 80%;
  height: 750px;
  border:  1px solid white;
  margin-bottom: 20px;
}
.pc img{
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}
.pc h3{
  text-align: center;
  margin-bottom: 30px;
}
input{
  width: 120px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
transition: border .25s linear, color .25s linear, background-color .25s linear;
box-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  line-height: 1.1;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
  color: white;
}
h1,
h2,
h3 {
  margin-top: 30px;
  margin-bottom: 15px;
}
h4,
h5,
h6 {
  margin-top: 15px;
  margin-bottom: 15px;
}
h6 {
  font-weight: normal;
}
h1,
.h1 {
  font-size: 61px;
}
h2,
.h2 {
  font-size: 53px;
}
h3,
.h3 {
  font-size: 40px;
}
h4,
.h4 {
  font-size: 29px;
}
h5,
.h5 {
  font-size: 28px;
}
h6,
.h6 {
  font-size: 24px;
}
h1{
  font-family: "lato";
p {
  font-size: 18px;
  line-height: 1.72222;
  margin: 0 0 15px;
}
label{
  padding: 5px;
  margin-left: 10px;
}
input{
  width: 220px;
}